@font-face {
        font-family: "roboto-700";
        src: url("./assets/fonts/roboto-700.ttf") format("truetype");
      }
@font-face {
        font-family: "alata-regular";
        src: url("./assets/fonts/alata-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "akshar-700";
        src: url("./assets/fonts/akshar-700.ttf") format("truetype");
      }
@font-face {
        font-family: "roboto-regular";
        src: url("./assets/fonts/roboto-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "calibri-regular";
        src: url("./assets/fonts/calibri-regular.ttf") format("truetype");
      }
@font-face {
        font-family: "times-new-roman-regular";
        src: url("./assets/fonts/times-new-roman-regular.ttf") format("truetype");
      }
